.element__like-button {
  background: url(../../../../images/likebtn.svg);
  cursor: pointer;
  border: none;
  background-color: #fff;
  width: 22px;
  height: 19px;
  margin-right: 20px;
}

.element__like-button:hover {
  opacity: 0.5;
}
