.element__like-button {
  background-image: url(../../../images/likebtn.svg);
  background-position: center center;
  background-size: 22px 19px;
  width: 22px;
  height: 19px;
  margin: 0;
  border: none;
  cursor: pointer;
  border: none;
  background-color: #fff;
  padding: 11px;

  background-repeat: no-repeat;
}

.element__like-button:hover {
  opacity: 0.5;
}
